@model ShoppingCartApp.Models.Game

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManagerView.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Game</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Platform</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Platform.Name)
    </div>

    <div class="display-label">Genre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre.Name)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Developer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Developer)
    </div>

    <div class="display-label">Publisher</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publisher)
    </div>

    <div class="display-label">Image</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">Stock</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Stock)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
