@model IEnumerable<ShoppingCartApp.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagerView.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="centered">
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Platform
        </th>
        <th>
            Genre
        </th>
        <th>
            Price
        </th>
        <th>
            Developer
        </th>
        <th>
            Publisher
        </th>
        <th>
            Image
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Platform.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameID })
        </td>
    </tr>
}

</table>
</div>